@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);
/************theme fonts********************/
/***********************theme colors*****************************/
/*****************theme parametres*******************/
/*sidebar-parametres*/
html,
body {
    height: 100%;
    position: relative;
}


.input-field label {
    color: #9e9e9e;
    position: absolute;
    top: 0.8rem;
    left: 0.75rem;
    font-size: 1rem;
    cursor: text;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

    .input-field label.active {
        font-size: 0.8rem;
        -webkit-transform: translateY(-140%);
        -moz-transform: translateY(-140%);
        -ms-transform: translateY(-140%);
        -o-transform: translateY(-140%);
        transform: translateY(-140%);
    }

.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=url]:focus + label,
.input-field input[type=date]:focus + label,
.input-field input[type=tel]:focus + label,
.input-field input[type=number]:focus + label,
.input-field input[type=search]:focus + label,
.input-field textarea:focus.materialize-textarea + label {
    color: #26a69a;
}

.input-field input[type=text].valid,
.input-field input[type=password].valid,
.input-field input[type=email].valid,
.input-field input[type=url].valid,
.input-field input[type=date].valid,
.input-field input[type=tel].valid,
.input-field input[type=number].valid,
.input-field input[type=search].valid,
.input-field textarea.materialize-textarea.valid {
    border-bottom: 1px solid #4CAF50;
    -webkit-box-shadow: 0 1px 0 0 #4CAF50;
    -moz-box-shadow: 0 1px 0 0 #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50;
}

.input-field input[type=text].invalid,
.input-field input[type=password].invalid,
.input-field input[type=email].invalid,
.input-field input[type=url].invalid,
.input-field input[type=date].invalid,
.input-field input[type=tel].invalid,
.input-field input[type=number].invalid,
.input-field input[type=search].invalid,
.input-field textarea.materialize-textarea.invalid {
    border-bottom: 1px solid #F44336;
    -webkit-box-shadow: 0 1px 0 0 #F44336;
    -moz-box-shadow: 0 1px 0 0 #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}

.input-field .prefix {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    -ms-transition: color 0.2s;
    transition: color 0.2s;
}

    .input-field .prefix.active {
        color: #26a69a;
    }

    .input-field .prefix ~ input,
    .input-field .prefix ~ textarea {
        margin-left: 3rem;
        width: 92%;
        /*width: calc(100% - 3rem);*/
    }

    .input-field .prefix ~ textarea {
        padding-top: 0.8rem;
    }

    .input-field .prefix ~ label {
        margin-left: 3rem;
    }
/*@media only screen and (max-width : 992px) {
    .input-field .prefix ~ input {
      width: 86%;
      width: calc(100% - 3rem); }
 }*/
/*@media only screen and (max-width : 600px) {
    .input-field .prefix ~ input {
      width: 80%;
      width: calc(100% - 3rem); }
 }*/
textarea {
    width: 100%;
    height: 3rem;
    background-color: transparent;
}

    input[type=text],
    input[type=password],
    input[type=email],
    input[type=url],
    input[type=date],
    input[type=tel],
    input[type=number],
    input[type=search],
    textarea.materialize-textarea {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #9e9e9e;
        outline: none;
        height: 3rem;
        width: 100%;
        /*font-size: 1rem;*/
        margin: 0 0 15px 0;
        padding: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -ms-transition: 0.3s;
        transition: 0.3s;
    }

        input[type=text]:focus,
        input[type=password]:focus,
        input[type=email]:focus,
        input[type=url]:focus,
        input[type=date]:focus,
        input[type=tel]:focus,
        input[type=number]:focus,
        input[type=search]:focus,
        textarea:focus.materialize-textarea {
            border-bottom: 1px solid #26a69a;
            -webkit-box-shadow: 0 1px 0 0 #26a69a;
            -moz-box-shadow: 0 1px 0 0 #26a69a;
            box-shadow: 0 1px 0 0 #26a69a;
        }

    textarea.materialize-textarea {
        overflow-y: hidden;
        /* prevents scroll bar flash */
        padding: 1.6rem 0;
        /* prevents text jump on Enter keypress */
        resize: none;
        min-height: 3rem;
    }

.hiddendiv {
    display: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    /* future version of deprecated 'word-wrap' */
    padding-top: 1.2rem;
    /* prevents text jump on Enter keypress */
}

.signin_wrapper {
    /*background: url('../../Content/img/loginbg.jpg');*/
    background: url('lock.png');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    /* background setup */
    background-repeat: no-repeat;
    /* custom background-position */
    background-position: 50% 50%;
    /* ie8- graceful degradation */
    background-position: 50% 50% !important;
}

    .signin_wrapper .right_block {
        position: fixed;
        max-width: 600px;
        right: 0;
        background: rgba(0, 9, 22, 0.8);
        padding: 0px 40px;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

        .signin_wrapper .right_block .signup-heading {
            font-size: 20px;
            font-family: 'Nunito', sans-serif;
            text-transform: uppercase;
            color: #ffffff;
            margin-top: 20%;
            margin-bottom: 50px;
            text-align: center;
        }

        .signin_wrapper .right_block.password_block {
            width: 100%;
        }

        .signin_wrapper .right_block .bottom_info {
            margin-top: 50px;
        }

        .signin_wrapper .right_block a {
            color: #ffffff;
            text-decoration: none;
            outline: none;
        }

        .signin_wrapper .right_block .input-field label {
            color: #ffffff;
            backface-visibility: hidden;
        }

        .signin_wrapper .right_block .input-field input {
            color: #ffffff;
        }

        .signin_wrapper .right_block i.prefix {
            color: #ffffff;
            backface-visibility: hidden;
            font-size: 30px;
            text-align: center;
            padding-right: 20px;
        }

            .signin_wrapper .right_block i.prefix.active {
                color: #2196f3 !important;
            }

        .signin_wrapper .right_block .input-field label {
            color: #ffffff;
        }

        .signin_wrapper .right_block .input-field input[type=text]:focus + label,
        .signin_wrapper .right_block .input-field input[type=password]:focus + label,
        .signin_wrapper .right_block .input-field input[type=email]:focus + label {
            color: #ffffff;
        }

        .signin_wrapper .right_block .input-field input[type=text]:focus,
        .signin_wrapper .right_block .input-field input[type=password]:focus,
        .signin_wrapper .right_block .input-field input[type=email]:focus {
            border-bottom: 1px solid #2196f3;
            box-shadow: 0 1px 0 0 #2196f3;
        }

        .signin_wrapper .right_block .input-field input[type=text].valid,
        .signin_wrapper .right_block .input-field input[type=password].valid,
        .signin_wrapper .right_block .input-field input[type=email].valid {
            border-bottom: 1px solid #6fd64b;
            box-shadow: 0 1px 0 0 #6fd64b;
        }

        .signin_wrapper .right_block .input-field input[type=text].invalid,
        .signin_wrapper .right_block .input-field input[type=password].invalid,
        .signin_wrapper .right_block .input-field input[type=email].invalid {
            border-bottom: 1px solid #fb5d5d;
            box-shadow: 0 1px 0 0 #fb5d5d;
        }

        .signin_wrapper .right_block .input-field .prefix.active {
            color: #000;
        }

        .signin_wrapper .right_block .btn-primary {
            margin-top: 30px;
            line-height: 30px;
            font-size: 16px;
            margin-bottom: 20px;
        }

.modal .modal-title {
    color: #707780;
    font-size: 16px;
}

.modal h6.note {
    margin-top: 30px;
    color: #707780;
    color: #fb5d5d;
}

.modal .modal-footer {
    border-top-width: 0 !important;
}

.modal .btn {
    margin-top: 0;
    border-radius: 3px;
}




.form-holder {
    width: 30%;
    position: absolute;
    margin-top: 2%;
    left: 5%;
}

.form-holder2 {
    /*min-width: 450px;*/
    width: 100%;
    /*margin:0 auto;*/
    min-height: 400px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3) !important;
    background: #f0efef;
    opacity: .9;
    border-radius: 5%;
    z-index: 9999;
    padding: 30px;
}

.logoFlex {
    /*margin-top: -30%;*/
    padding-bottom: 20px;
    text-align: center;
}

.md-form label {
    color: black;
}

.md-form .prefix {
    top: .25rem;
    left: 0px !important;
    font-size: 1.75rem;
}

img {
    height: 36px;
}

form-holder {
    width: 501px;
}

.custom-file-input {
    height: 80px;
}

.md-form label {
    transform: translateY(4px);
}

.form-holder .form-control {
    margin-bottom: 20px;
}

.form-holder .esqueceSenha {
    color: rgb(102, 102, 102);
    font-style: italic;
    float: right;
    vertical-align: middle;
}



* {
    box-sizing: border-box;
    font-family: Arial;
}

::placeholder {
    color: dimgrey;
}

::selection {
    background-color: #098147;
    color: white;
}


body {
    color: black;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 8fr;
}

form {
    background-color: #f5f0f0;
    opacity: 0.95;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3) !important;
    height: 490px;
    width: calc(290px + 5vw);
    margin: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

    form > #top {
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    form > #bot {
        margin: 10px 0px;
        width: 100%;
        height: calc(75% - 20px);
        text-align: center;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
    }

        form > #bot > #titulo {
            padding: 0 10px;
            width: 100%;
        }

        form > #bot > label > input {
            height: 30px;
            border: none;
            border-radius: 5px;
            text-align: center;
            box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.15);
            transition: 0.8s;
            border: #00e27100 solid 2px;
            outline: none;
        }

            form > #bot > label > input:focus {
                border: #751205 solid 2px;
            }

        form > #bot > input[type=submit] {
            width: 50%;
            border-radius: 10px;
            height: 35px;
            border: none;
            outline: none;
            transition: 0.4s;
            background-color: #751205;
            color: white;
            cursor: pointer;
        }

            form > #bot > input[type=button]:hover {
                background-color: #004824;
            }


.input-file {
    height: 10px;
}
@media screen and (min-width: 768px) {
    body {
        grid-template-columns: 1fr 5fr 5fr 1fr;
    }

    header {
        justify-content: space-between;
    }

    #aut {
        opacity: 0.2;
    }

        #aut:hover {
            opacity: 1;
        }
}

@media (min-width: 100px) and (max-width: 320px) {
    form {
        height: 484px;
        width: calc(270px + 5vw);
    }

        form > #bot > label > input {
            width: 217px;
        }
}

@media (min-width:350px) and (max-width: 490px) {
    form {
        height: 428px;
        width: calc(329px + 5vw);
    }

        form > #bot > input[type=button] {
            width: 30%;
            border-radius: 10px;
            height: 26px;
            font-size: 12px;
        }

    label {
        height: 63px;
    }
}


@media screen and (min-width: 992px) {



    body {
        grid-template-columns: 1fr 3fr 3fr 1fr;
    }
}

@keyframes cor {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


#file {
    width: 292px;
    z-index: -1;
}
/*input[type="file"] {
    display: none;
}

input[type='file']  {
    border-radius: 10px;
    transition: 0.4s;
    background-color: #751205;
    font-weight: bold;
    color: white;
    cursor: pointer;
}*/

.input-file-container {
    position: relative;
    width: 225px;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: 0.4s;
    background-color: #751205;
    color: white;
    cursor: pointer;
}

.js .input-file-trigger {
    display: block;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.js .input-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 225px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
}


.file-return {
    margin: 0;
}

    .file-return:not(:empty) {
        margin: 1em 0;
    }

.js .file-return {
    font-style: italic;
    font-size: .9em;
}

    .js .file-return:not(:empty):before {
        content: "Selected file: ";
        font-style: normal;
        font-weight: normal;
    }
